@import url(../../css/header.css);
@import url(../../css/home/info.css);
@import url(../../css/fonts.css);
@import url(../../css/projects/footer.css);
body{
    background-color: white;
    margin: 0;
    width: 100vw;
    height: 100vw;
    overflow: hidden;
}