<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GABRIEL IRSCHLINGER - Projetos</title>

    <link rel="stylesheet" href="../../view/css/projects/formacao.css">
    <script src="https://kit.fontawesome.com/3997afc685.js" crossorigin="anonymous"></script>
    <script type="module" src="../../controller/projects/projetos.js" defer></script>
</head>
<body>
    <header>
        <div>                
            <img id="img_logo" src="../../assets/img/imglogo.svg" alt="imagem_google">
             <h1 id="proficao">
            Programador FullStack
            </h1>
        </div>
        <div>

            <button id="btn_home" class="bnt" onclick="window.location.href='../../index.html'">
                <h4>Home</h4>
                <i class="fa-solid fa-house"></i>
            </button>

            <button id="bnt_formacao" class="bnt" onclick="window.location.href='formacao.html'">
                <h4>Formação</h4>
                <i class="fa-solid fa-graduation-cap"></i>
            </button>

            <button id="btn_projetos" class="bnt" onclick="window.location.href='projetos.html'">
                <h4>Projetos</h4>
                <i class="fa-solid fa-book"></i>
            </button>
        </header>
        <section id="em_desinvolvimento">
            <img  src="https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-07-846_512.gif" alt="" id="img_em">
        </section>
            
</body>