<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GABRIEL IRSCHLINGER - Projetos</title>

    <link rel="stylesheet" href="../css/projects/projetos.css">
    <script src="https://kit.fontawesome.com/3997afc685.js" crossorigin="anonymous"></script>
    <script type="module" src="/controller/projects/projetos.js" defer></script>
</head>
<body>
    <header>
        <div>                
            <img id="img_logo" src="/assets/img/img_logo.png" alt="imagem_google">
             <h1 id="proficao">
            Programador FullStack
            </h1>
        </div>
        <div>

            <button id="btn_home" class="bnt" onclick="window.location.href='index.html'">
                <h4>Home</h4>
                <i class="fa-solid fa-house"></i>
            </button>

            <button id="bnt_formacao" class="bnt" onclick="window.location.href='formacao.html'">
                <h4>Formação</h4>
                <i class="fa-solid fa-graduation-cap"></i>
            </button>

            <button id="btn_projetos" class="bnt" onclick="window.location.href='projetos.html'">
                <h4>Projetos</h4>
                <i class="fa-solid fa-book"></i>
            </button>

        </div>
    </header>    
    <section id="banner_btns">
        <nav id="banner">    
        </nav>
        <nav id="btns">
        </nav>
    </section>
    <section id="habilidades">
        <h1>HABILIDADES</h1>
        <section id="btns_habilidades">
            <div id="frameworks">
                <nav id="frameworks_nav">
                </nav>
            </div>
            <div id="areas">
                <nav id="areas_nav">
                </nav>
            </div>
            <div id="linguagens">
                <nav id="linguagens_nav">

                </nav>
            </div>
        </section>
    </section>
    <section id="cards_projetos">
    </section>
    <footer>
        <button class="btn_footer" onclick="window.location.href='https://github.com/BryamSenac'"><i
                class="fa-brands fa-square-github"></i></button>
        <button class="btn_footer" onclick="window.location.href='https://linkedin.com'"><i
                class="fa-brands fa-linkedin"></i></button>
        <button class="btn_footer" onclick="window.location.href='https://instagram.com/Gabriel_irsch'"><i
                class="fa-brands fa-square-instagram"></i></button>
        <button class="btn_footer" onclick="window.location.href='https://twitter.com'"><i
                class="fa-brands fa-square-twitter"></i></button>
    </footer>
    <section id="criar_card">
        <div>
            <input type="text" id="input_titulo">
            <input type="text" id="input_descricao">
            <input type="text" id="input_img">
            <button id="btn_criar_card" onclick="addCard()">CRIAR</button>
        </div>
    </section>
</body>
</html>