@import url(../header.css);
@import url(../fonts.css);
@import url(../projects/cards.css);
@import url(../projects/banner.css);
@import url(../projects/lista_cards.css);
@import url(../projects/habilits.css);
@import url(../projects/inputs.css);

footer{
    width: 99.5vw;
    height: 6vw;
    display: flex;
    justify-content: right;
    align-items: end;
    margin-top: 37vw;
    background-color: rgb(207, 206, 206);
}
.btn_footer{
    margin: 0 0.3vw;
    border: 0;
    background-color: transparent;    
}
footer i{
    font-size: 3vw;
    color: #353535;    

    transition: all 0.5s ease-out;
}
.btn_footer i:hover{
    font-size: 4vw;
}
body{
    background-color: white;
    margin: 0;
    width: 100vw;
    height: 100vw;
    overflow-x: hidden ;
}

@media (max-width: 425px) {
    body{
        overflow: auto;
    }
}